/* ===== Estilos generales ===== */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}

/* ===== Títulos ===== */

h1 {
    text-align: center;
    margin: 20px 0;
}

h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

h3 {
    color: #444;
}

/* ===== Texto ===== */

p{
    line-height: 1.6;
}

/* ===== Normalización Box Model ===== */

* {
    box-sizing: border-box;
}

/* ===== Estructura principal ===== */

header,
nav,
section,
aside,
footer {
    background-color:rgb(142, 142, 142);
    margin: 20px;
    padding: 15px;
    border.radius: 5px;
}

nac {
    text-align: center;
    backgorund-color: #333;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

section {
    position: relative;
}

aside {
    position: static;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

article img {
    float: left;
    width: 300px;
    margin-right: 15px;
    margin-bottom: 10px;
}

article::after {
    content: "";
    display: block;
    clear: both;
}

aside {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}









